/* ------------------------------------------------------------------- */
/*                       CSS - Multicarsevent                          */
/* ------------------------------------------------------------------- */

@import url('https://fonts.googleapis.com/css?family=Charm|Kelly+Slab|Playfair+Display');

* {
    box-sizing: border-box;
    margin: 0;
}

html, header {
    height: 100%;
    background: url(img_css/background.png);
}

#ici {
    color:white;
}

.flex_container {
    width: 100%;
    display: flex;
    justify-content: center;   
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    position: relative;
}

h2, h1 {
    font-family: 'Kelly Slab';
    text-transform: capitalize;
    color: #dfe906;
    text-align: center;
    font-size: 20px
}
/* ------------------------------------------------------------------- */
/*                              HEADER                                 */
/* ------------------------------------------------------------------- */

header {
    position: fixed;
    height: 80px;
    z-index: 9999;
    flex-flow: column;
    align-items: flex-end;
}

/* ------------------------------------------------------------------- */
/*                            Logo/ Login                              */
/* ------------------------------------------------------------------- */

/* div qui comptient le logo et login */

div.log {
    margin-top: 1%;
    width: 52%;
    justify-content: space-between  
}

div.log  a {
    width: 60px;
    height: 60px;
}

div.log img {
    width: 100%;
}

/* ------------------------------------------------------------------- */
/*                             NAVIGATION                              */
/* ------------------------------------------------------------------- */

nav.flex_container {
    background: url(img_css/background.png);
    justify-content: space-around;
    flex-direction: row;
    box-shadow: 0 1.6px black;
}

/* lien de la navigation */

nav.flex_container a {
    text-decoration: none;
    color: #dfe906;
    text-transform: capitalize;
    font-size: 20px;
    margin-bottom: 0.1%;
    font-family: 'Kelly Slab';
}

/* passage de la souris sur les liens de la nav */

nav a:hover {
   color:white;
}

/* ------------------------------------------------------------------- */
/*                    CORPS DE PAGE / ARTICLES                         */
/* ------------------------------------------------------------------- */

/* corps de page index */

section.index {
    margin-top: 90px;
    flex-flow: row wrap;
    justify-content: space-around;
    margin-bottom: 95px;
}

/* Base article */

article.flex_container {
    margin-top: 10px;
    border: 2px 0.5px solid black;
    width: 45% ;
    height: 250px;
    border-radius: 5px;
    box-shadow: 1px 1px 5px white, -1px 1px 5px white, 1px -1px 5px white, -1px -1px 5px white;
}

/* ------------------------------------------------------------------- */
/*           article sur la star a venir sur le prochain evenement     */
/* ------------------------------------------------------------------- */

article.star {
    justify-content: space-around; 
    align-items: center;  
}

/* photo de la stars */

article.star img {
    margin: 5px;
    width: 130%;
}

/* texte de l'article sur la star */

article.star p {
    
    text-align: center;
    font-size: 14px;
    color: #f0f0cf;
}

/* ------------------------------------------------------------------- */
/*       article sur les trois prochains evenements a venir            */
/* ------------------------------------------------------------------- */

article.avenir { 
    flex-direction: column;
    justify-content: space-around; 
}

/* div contenant les 3 trois evenements a venir */

div.av {
    flex-direction: row;
    align-items: flex-start;
    height: 170px;
    overflow-y: hidden;
    justify-content: center;
}

/* div evenement a venir */

div.evenement {
    flex-flow: column;
    width: 100%;
    flex-shrink: 1;
}

/* image des evenements */

div.evenement img {
    margin-top: 19%;
    width: 100%;
    height: 170px;
    
}

/* passage de souris sur les evenements dans la page d'acceuil */

div.evenement img:hover {
    order: 2;
}

div.evenement p:hover {
    order: -1;
}

/* textes des evenements dans la page d'acceuil*/ 

div.evenement p {
    height: 150px;
    font-size: 14px;
    color: #f0f0cf;
    text-align: center;
    
}

/* ------------------------------------------------------------------- */
/*                       article sur le circuit                        */
/* ------------------------------------------------------------------- */

article.site {
    flex-direction: column;
    justify-content: center;   
}
article.site img {
    margin: auto;
    width: 90%;
    height: 80%;
}

/* ------------------------------------------------------------------- */
/* article sur les photos de la galerie CARROUSEL en JS                */
/* ------------------------------------------------------------------- */

article.carrousel1 {
    align-items: center;
}

/* taille des images a defiléés */

div.slider figure img {
    width: 100%;
    height: 100%;
}

/* div contenant les images */

div.slider {
    width: 50%;
    overflow: hidden;
    height: 95%;
}

/* animantion du defilements des images */

@keyframes slidy {
    0% { left:200%;}
    20% { left: 200%;}
    25% { left: 100%;}
    45% { left: 100%;}
    50% { left: 0%;}
    70% { left: 0%;}
    75% { left: -100%;}
    95% { left: -100%;}
    95% { left: -200%;}
    100% { left: -200%;}
}

/* div contenant les images liees avec l'animation */

div.slider figure {
    position: relative;
    width: 100%;
    margin: 0;
    padding: 0;
    font-size: 0;
    left: 0;
    text-align: left;
    flex-direction: row;
    align-items: center;
    animation: 20s slidy infinite;
    animation-timing-function: steps(1);
}

/* ------------------------------------------------------------------- */
/*                    PARTENAIRE/Bandeau animé                         */
/* ------------------------------------------------------------------- */

aside.partenaire {
    position: absolute;
    bottom: 50px;
    height: 35px;
    align-items: center;
    background-color: antiquewhite;
}

div.partenaire figure img {
    width: 30px;
    height: 30px;
}

div.partenaire {
    margin: 0;
    flex-direction: row;
    align-items: flex-start;
    overflow: hidden;
    height: 30px;
    width: 100%;
}

@keyframes banniere {
    0% {left: -22%;}
    100% {left: 22%;}
}

div.partenaire figure {
    position: relative;
    width: 100%;
    margin: 0;
    padding: 0;
    font-size: 0;
    left: 0;
    text-align: left;
    flex-direction: row;
    animation: 10s banniere alternate infinite;
}

/* ------------------------------------------------------------------- */
/*                            Page Galerie                             */
/* ------------------------------------------------------------------- */
section.galerie {
    margin-top: 90px;
    margin-bottom: 50px; 
    
}
div.images {
    width:50%;
    min-height: 100%;
    flex-flow: column;
    justify-content: flex-start;
    border-right: solid 1px black;
}
div.images h2 {
    font-size: 25px;
}
div.videos h2 {
    font-size: 25px;
}
div.filtre {
    width: 100%;
    height: 40px;
    flex-direction: row;
    justify-content: flex-start
}
div.filtre h3 {
    margin-left: 10px;
    margin-right: 10px;
    color: antiquewhite;
    
}
div.filtre label {
    color: antiquewhite;
}
div.filtre input {
    margin-right: 10px;
    margin-left: 2px;
}
div.photos {
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    height: 100%;
    align-items: flex-start;
}
div.movies {
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    height: 100%;
    align-items: flex-start;
    
}
div.cote {
    flex-flow: column;
    margin : 2px;
    width: 30%;
    height: 300px
}
#first {
    margin : 2px;
    width: 67%;
    height: 300px;
}
video#first {
    width: 95%;
    height: 50%;
}
div.photos img {
    margin : 2px;
    width: 24%;
    height: 150px;
}
div.cote img {
    width: 100%
}
div.videos {
    width:50%;
    min-height: 100%;
    justify-content: flex-start;
    flex-flow: column; 
}
div.movies video{
    margin: 2%;
    width: 45%;
    height: 300px;
}

/* ------------------------------------------------------------------- */
/*                            Page Contact                             */
/* ------------------------------------------------------------------- */

section.message {
    margin-top: 90px;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 95px;
}

section.message h1 {
    margin-top: 2%;
    font-size: 40px;
}
section.message p {
    margin-top: 1%;
    color: antiquewhite;

}
form.contact{
    flex-direction: column;
    align-items: center;
    margin-top: 2%;
}

section.message input {
    margin: 0.2%;
    width: 19.5%;
}

section.message button {
    margin-top: 1%;
}

/* ------------------------------------------------------------------- */
/*                            Page Connexion                           */
/* ------------------------------------------------------------------- */
div.id {
    margin-top: 90px;
    min-height: 500px;
    margin-bottom: 50px;
}

section.inscription, .connexion {
    border: solid #dfe906 2px;
    width: 45%;
    margin : 5%;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

div.id form{
    flex-direction: column;
    width: 50%;
    min-height: 90%;
    text-align: center;
}

div.id input{
    margin: 3%
}

div.id button{
    width: 30%;
    margin-bottom: 10%;
}

div.id h2 {
    font-size: 25px;
}



/* ------------------------------------------------------------------- */
/*                            FOOTER                                   */
/* ------------------------------------------------------------------- */

footer.flex_container {
    border-top: 2px solid black;
    flex-direction: row;
    justify-content: flex-start;
    background-color: #232322;
    height: 50px;
    position: absolute;
    bottom: 0;
}

div.contact {
    justify-content: flex-start;
    height: 50px;
    flex-direction: column nowrap;
}

footer p {
    color: #f0f0cf;
    font-size: 7px;
}

footer ul {
    height: 50px;
    padding: 0 8px;
    color: #f0f0cf;
    font-size: 10px;
}

footer img {
    width: 40px;
}

footer a {
    text-decoration: none;
    color: #f0f0cf;
    font-size: 10px;
}

footer a:hover {
    text-decoration: underline;
}


