/* ------------------------------------------------------------------- */
/*                       CSS - Multicarsevent                          */
/* ------------------------------------------------------------------- */

* {
    box-sizing: border-box;
    margin: 0;
}
html, header {
    height: 100%;
    background: url(img-css/background.png);
}
#ici {
    color:white;
}

.flex_container {
    width: 100%;
    display: flex;
    justify-content: center;
    /* align-items: center; */
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    position: relative;
}

/* ------------------------------------------------------------------- */
/*                              HEADER                                 */
/* ------------------------------------------------------------------- */
header {
    position: fixed;
    height: 60px;
    z-index: 9999;
    flex-flow: column;
    align-items: flex-end;
}
/* ------------------------------------------------------------------- */
/*                            Logo/ Login                              */
/* ------------------------------------------------------------------- */
div.log {
    width: 52%;
    justify-content: space-between  
}
div.log  a {
    width: 50px;
    height: 50px;
}
div.log img {
    width: 100%;
}

/* ------------------------------------------------------------------- */
/*                             NAVIGATION                              */
/* ------------------------------------------------------------------- */
nav.flex_container {
    background: url(img-css/background.png);
    justify-content: space-around;
    flex-direction: row;
    box-shadow: 0 1px black;
}
nav.flex_container a {
    text-decoration: none;
    color: #dfe906;
    text-transform: capitalize;
    font-size: 20px;
}
nav a:hover {
   color:white;
}


/* ------------------------------------------------------------------- */
/*                    CORPS DE PAGE / ARTICLES                         */
/* ------------------------------------------------------------------- */
section.flex_container {
    margin-top: 70px;
    flex-flow: row wrap;
    justify-content: space-around;
    margin-bottom: 95px;
     
}

article.flex_container {
    margin-top: 10px;
    border: 2px 0.5px solid black;
    width: 45% ;
    height: 250px;
    border-radius: 5px;
    box-shadow: 1px 1px 5px white, -1px 1px 5px white, 1px -1px 5px white, -1px -1px 5px white;
}

article.star {
    justify-content: space-around;   
}

article.star img {
    margin: 5px;
    width: 30%;
}

article.star p {
    text-align: center;
    font-size: 14px;
    color: #f0f0cf;
}

article.avenir { 
    flex-direction: column;
    justify-content: space-around; 
}

div.av {
    flex-direction: row;
    align-items: flex-start;
    height: 170px;
    overflow-y: hidden;
    justify-content: center;
}
div.mois {
    flex-flow: column;
    width: 100%;
    flex-shrink: 1;
}

div.av img {
    width: 100%;
    height: 170px;
    flex-shrink: 1;
}

div.av img:hover {
    order: 2;
}

h2 {
    text-transform: capitalize;
    color: #dfe906;
    text-align: center;
    font-size: 20px
}

article.avenir p {
    height: 150px;
    font-size: 12px;
    color: #f0f0cf;
    text-align: center;
}

div.av p:hover {
    order: -1;
}

article.site {
    flex-direction: column;
    justify-content: center;
    
}

article.site img {
    margin: auto;
    width: 90%;
    height: 80%;
}


/* ------------------------------------------------------------------- */
/*                            CARROUSEL                                */
/* ------------------------------------------------------------------- */

div.slider figure img {
    width: 100%;
    height: 100%;
}
div.slider {
    width: 100%;
    overflow: hidden;
    height: 100%;
}
@keyframes slidy {
    0% { left:85%;}
    20% { left: 85%;}
    25% { left: 115%;}
    45% { left: 115%;}
    50% { left: 0%;}
    70% { left: 0%;}
    75% { left: -115%;}
    95% { left: -115%;}
    95% { left: -225%;}
    100% { left: -225%;}
}
div.slider figure {
    position: relative;
    width: 100%;
    margin: 0;
    padding: 0;
    font-size: 0;
    left: 0;
    text-align: left;
    flex-direction: row;
    animation: 20s slidy infinite;
    animation-timing-function: steps(1);
}
/* ------------------------------------------------------------------- */
/*                            PARTENAIRE                               */
/* ------------------------------------------------------------------- */
aside.partenaire {
    position: absolute;
    bottom: 50px;
    height: 35px;
    align-items: center;
    background-color: antiquewhite;
}

div.partenaire figure img {
    width: 30px;
    height: 30px;
}

div.partenaire {
    margin: 0;
    flex-direction: row;
    align-items: flex-start;
    overflow: hidden;
    height: 30px;
    width: 100%;
}

@keyframes banniere {
    0% {left: -22%;}
    100% {left: 22%;}
}

div.partenaire figure {
    position: relative;
    width: 100%;
    margin: 0;
    padding: 0;
    font-size: 0;
    left: 0;
    text-align: left;
    flex-direction: row;
    animation: 10s banniere alternate infinite;
}
/* ------------------------------------------------------------------- */
/*                            FOOTER                                */
/* ------------------------------------------------------------------- */
footer.flex_container {
    border-top: 2px solid black;
    flex-direction: row;
    justify-content: flex-start;
    background-color: #232322;
    height: 50px;
    position: absolute;
    bottom: 0;
}

div.contact {
    justify-content: flex-start;
    height: 50px;
    flex-direction: column nowrap;
}

footer p {
    color: #f0f0cf;
    font-size: 7px;
}

footer ul {
    height: 50px;
    padding: 0 8px;
    color: #f0f0cf;
    font-size: 10px;
}

footer img {
    width: 40px;
}

footer a {
    text-decoration: none;
    color: #f0f0cf;
    font-size: 10px;
}

footer a:hover {
    text-decoration: underline;
}

/* @media all and (min-width:800px) and (max-width:1600px) {
    section.galerie {        
        height: 750px;
    }
    div.images {
        width:50%;
        height: 601px;
        justify-content: flex-start;
        border-right: solid 1px black;
    }
    div.images h2 {
        font-size: 25px;
    }
    div.videos h2 {
        font-size: 25px;
    }
    div.filtre {
        width: 100%;
        height: 40px;
        flex-direction: row;
        justify-content: flex-start
    }
    div.filtre h3 {
        margin-left: 10px;
        margin-right: 10px;
        color: antiquewhite;
        
    }
    div.filtre label {
        color: antiquewhite;
    }
    div.filtre input {
        margin-right: 10px;
        margin-left: 2px;
    }
    div.photos {
        flex-direction: row;
        flex-wrap: wrap;
        height: 100%;
        align-items: flex-start;
    }
    div.movies {
        flex-direction: row;
        flex-wrap: wrap;
        height: 50px;
        align-items: flex-start;
    }
    div.cote {
        margin : 2px;
        width: 30%;
        height: 300px
    }
    #first {
        margin : 2px;
        width: 67%;
        height: 300px;
    }
    div.photos img {
        margin : 2px;
        width: 25%;
        height: 150px;
    }
    div.cote img {
        width: 100%
    }
    div.videos {
        width:50%;
        height: 100%;
        justify-content: flex-start; 
    }
    div.log {
        width: 52.5%;
        justify-content: space-between;        
    }
    div.log a {
        width: 70px;
        height: 70px;
    }
    div.log a:last-child {
        width: 5%;
        height: 45px;
        margin-right: 10px;
        margin-top: 10px;
        
    }
    
    nav.flex_container a {
    font-size: 25px;
    margin-bottom: 10px
}

    section.flex_container { 
        height: 600px;
    }
    article.flex_container {
        width: 45%
    }
    article.star {
        flex-direction: row;
        justify-content: space-around;
    }
    article.star img {
        width: 23%;
        margin-left: 6px;
    }
    article.star p {
        font-size: 15px;
    }
    article.avenir {
        justify-content: space-around;
    }
    article.avenir h2 {
        font-size: 20px;
    }

    article.avenir p {
        font-size: 15px;    
    }

    article.avenir img {
        width: 100%;
        height: 170px
    }

    div.av {
        justify-content: center;
        align-content: center;
    }

    article.site {
        margin-bottom: 1px;
    }
    article.site h2 {
        font-size: 20px;
    }

    article.site img {
        width: 80%;
        height: 180px;
        margin-bottom: 5px;
    }
    article.carrousel1{
        height: 200px;
        margin-top: 16px;
    }
    article.slider figure img {
        width: 100%;
        height: 190px;
    }
    article.slider {
        width: 80%;
        max-width: 475%;
        overflow-x: hidden;
        height: 190px;
        order: 40;
        padding: 0px;
        margin-bottom: 10px;
    
    }
    @keyframes slidy {
        0% { left: 200%;}
        20% { left: 200%;}
        25% { left: 100%;}
        45% { left: 100%;}
        50% { left: 0%;}
        70% { left: 0%;}
        75% { left: -100%;}
        95% { left: -100%;}
        95% { left: -200%;}
        100% { left: -200%;}
    }
    article.slider figure {
        position: relative;
        width: 100%;
        height: 180px;
        margin: 0;
        padding: 0;
        font-size: 0;
        left: 0;
        text-align: left;
        flex-direction: row;
        animation: 20s slidy linear infinite;
        animation-timing-function: steps(1);
    }
    footer.flex_container {
    height: 60px;
    order: 1000;
        
    }
    section.message {
        flex-direction: column;
    }
    section.message form {
        display: flex;
        justify-content: space-around;
        width: 45%;
        flex-direction: column;
        align-items: center
        
    }
    section.message input {
        width: 50%;
        margin: 10px;
    }
    section.message textarea {
        width: 50%;
        margin: 10px;
    }
    section.message h1 {
        font-size: 30px;
        color: antiquewhite
    }
    section.message p {
        font-size: 20px;
        color: antiquewhite
    }
    
    
    
} */

